 <template>
  <div>
     admin
  </div>
</template>

<script>
import { post, get, del } from "@/utils/request";
import apiUrl from "@/api";
import Utils from "@/utils/util";
export default {
  data() {
    return {
      loading: false,
      edit: false,
      addVisible: false,
      addVisibleData: null,
      currentPage: 1,
      tableData: null,
      totalItems: 0,
      queryParams: {
        pageSize: 10,
        pageNum: 1,
        username: null
      }
    };
  },
  mounted() {
    this.search();
  },
  methods: {
    search() {
      this.loading = true;
      get(apiUrl.userListUrl, this.queryParams).then(
        res => {
          this.loading = false;
          this.tableData = res.data;
          this.totalItems = Number(res.count);
        },
        () => (this.loading = false)
      );
    },
    handleEdit(row) {
      this.addVisibleData = row;
      this.edit = true;
      this.addVisible = true;
    },
    handleSizeChange(size) {
      this.queryParams.pageSize = size;
      this.search();
    },
    handleCurrentChange(page) {
      this.currentPage = page;
      this.queryParams.pageNum = page;
      this.search();
    },
    handleDel(row) {
      Utils.alert("确定要删除该管理员吗?")
        .then(() => {
          del(apiUrl.userDeleteUrl, { id: row.id }).then(res => {
            this.$message.success("删除成功");
            this.search();
          });
        })
        .catch(() => {});
    },
    addUser() {
      this.edit = false;
      this.addVisible = true;
    },
    close(t) {
      this.addVisible = false;
      if (t) this.search();
    }
  },
  computed: {}
};
</script>

<style scoped lang="less">
</style>
