<template>
  <div class="login-page">
     <group>
      <x-input title="用户名" v-model="formData.username"></x-input>
      <x-input title="密码" v-model="formData.password"></x-input>
      <x-button type="primary" @click.native="login">登录</x-button>
      <x-button type="warn">Delete</x-button>
       <x-icon type="ios-ionic-outline" size="30"></x-icon>
      <x-icon type="ios-arrow-back" size="30"></x-icon>
      <x-icon type="ios-arrow-forward" size="30"></x-icon>
      <x-icon type="ios-arrow-up" size="30"></x-icon>
      <x-button>submit</x-button>
    </group>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import apiUrl from "@/api/index";
import { get, post } from "@/utils/request";
import utils from "@/utils/util";
import validation from "@/utils/validation";
import logoPc from "@/assets/image/logo2.png";
export default {
  data() {
    return {
      logoPc,
      value: null,
      formData: {
        username: "",
        password: ""
      },
    };
  },
  mounted() {
     
  },
  methods: {
    ...mapMutations(["setUserInfo","setRole"]),
    inputAccount() {
      const username = this.formData.username;
      const puremobile = username.replace(/[^0-9]+/g, "");
      this.$nextTick(() => (this.formData.username = puremobile));
    },
   async login() {
      const res =  await	post(apiUrl.loginUrl, {...this.formData}, {withoutToken: true});
      if(res === -1) return;
        const data = res.data;
        this.setUserInfo(data);
        utils.toUrl(this,'/admin/index')
    }
  }
};
</script>

<style scoped lang="less">
.login-page {
  min-height: 100vh;
  background: url(../../assets/image/login_bj.png) no-repeat center center;
  background-size: cover;
}
.header {
  .topbar {
    height: 65px;
    background: #fff;
    &.transparent {
      background: transparent;
    }
  }
  .logo {
    float: left;
    margin: 12px 0 0 15px;
    img {
      display: block;
      height: 53px;
    }
  }
}

.login-continer {
  position: absolute;
  min-height: 368px;
  right: 15%;
  bottom: 20%;
}
.slogan {
  width: 450px;
  height: 368px;
}

.login-card {
  position: relative;
  z-index: 9;
  width: 420px;
  h4 {
    margin: 0 0 24px;
    font-size: 28px;
    text-align: center;
    line-height: 2;
    font-weight: normal;
  }
}

@media screen and (max-width: 1200px) {
  .login-continer {
    position: absolute;
    min-height: 368px;
    right: 15%;
    bottom: 15%;
  }
}
.login-form {
  padding: 0 24px;
}
.verify-code {
  .el-input {
    float: left;
    width: 60%;
  }
  .verify-pic {
    float: right;
    cursor: pointer;
    img {
      display: block;
    }
  }
}
.login-btn {
  padding: 24px 0 0;
  .el-button {
    display: block;
    width: 100%;
  }
}
.pass-fgtpwd {
  display: inline-block;
  font-size: 12px;
  color: rgb(46, 130, 255);
  text-decoration: none;
  margin-bottom: 24px;
  &:hover {
    opacity: 0.6;
  }
}
</style>
