<template>
	<el-upload :action="''" :show-file-list="false" :http-request="uploadImg" class="image-upload">
		<div v-if="value" slot="trigger" class="image-uploaded" v-loading="imageLoading">
			<img :src="value">
			<div class="upload-card inner">
				<el-button type="primary">重新上传</el-button>
			</div>
		</div>
		<div v-else slot="trigger" class="upload-card" v-loading="imageLoading">
			<el-button type="primary">上传图片</el-button>
			<div>
				<slot name="innerTips">2M以内图片</slot>
			</div>
		</div>
		<div class="image-uploaded-tips" v-if="$slots.outerTips && value">
			<slot name="outerTips">推荐图片尺寸为*像素x*像素<br>大小不超过*mb</slot>
		</div>
	</el-upload>
</template>

<script>
	import { mapGetters } from 'vuex';
    import { post, get, del } from "@/utils/request";
    import apiUrl from "@/api";
	export default {
		props: {
			value: {
				type: String
			},
			path: {
				type: String,
				default: 'agent/public'
			},
			maxSize: {
				type: Number,
				default: 2
			}
		},
		data(){
			return {
				imageLoading: false,
				// hasOuterTips: false
			}
		},
		mounted(){
			// this.hasOuterTips = !!this.$slots.outerTips;
		},
		methods: {
			uploadImg(req){
				if(!this.imageBeforeUpload(req.file)) return;

				this.imageLoading = true;  console.log(req.file)
				const fileList =JSON.stringify(req.file) 
                post(apiUrl.fileUploadUrl,{fileList}).then( res =>{
                         this.imageLoading = false
					     this.handleImageSuccess(res)
                    }
                );
				// fileUpload({path: this.path, files: [req.file]}).then(res => {
				// 	this.imageLoading = false;
				// 	this.handleImageSuccess(res);
				// }, error => this.imageLoading = false);
			},
			imageBeforeUpload(file){
				const isLtLimit = file.size / 1024 / 1024 < this.maxSize;

				if (!isLtLimit) {
					this.$message.error(`上传图片大小不能超过 ${this.maxSize}MB!`);
					return false;
				}

				return true;
			},
			handleImageSuccess(res){
				this.$emit('input', res.path);
			}
		}
	}
</script>

<style scoped lang="less">
	.image-upload{
		.upload-card{
			width: 100px;
			height: 100px;
			border: 1px solid #e8e8e8;
			padding: 30px 0 0;
			border-radius: 3px;
			box-sizing: border-box;
			border-radius: 2px;
			.el-button{
				background: #70A3EF;
				padding: 5px;
				font-size: 10px;
			}
			div{
				margin: 32px 0 0;
				line-height: 1.8;
				font-size: 10px;
				color: #999999;
			}
			&.inner{
				display: flex;
				justify-content: center;
				align-items: center;
				border: none;
				padding: 0;
				position: absolute;
				top: 1px;
				left: 1px;
				right: 1px;
				bottom: 1px;
				background: rgba(0,0,0,0.2);
				opacity: 0;
				transition: all ease 0.5s;
			}
		}
		.image-uploaded{
			width: 100px;
			height: 100px;
			border: 1px solid #e8e8e8;
			border-radius: 2px;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				max-width: 100%;
				max-height: 100%;
			}
			&:hover{
				.upload-card{
					opacity: 1;
				}
			}
		}
		.image-uploaded-tips{
			height: 100px;
			margin: 0 0 0 40px;
			display: inline-flex;
			align-items: center;
			vertical-align: top;
			line-height: 1.5;
			color: #999999;
		}
	}
</style>
