<template>
  <div class="header clearfix">
    <h1 class="logo">
        杭荣电气管理系统
    </h1>
    <div class="userinfo">
      <span class="username">欢迎您{{userInfo.user.name}}</span>
      <el-dropdown @command="handleCommand">
        <i class="el-icon-setting down-icon"></i>
         <span style="color:#fff">设置</span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="a">修改密码</el-dropdown-item>
          <el-dropdown-item command="b">【退出】</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <el-dialog title="修改密码" :visible.sync="dialogFormVisible" width="400px">
      <el-form :model="form" ref="form" :rules="rules" label-width="90px" class="form">
        <el-form-item label="新密码" prop="password">
          <el-input v-model="form.password" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="editPassword('form')" :loading="loading">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { post, get, del } from "@/utils/request";
import apiUrl from "@/api";
import logoPc from "@/assets/image/logo2.png";
import { mapGetters, mapMutations, mapActions } from "vuex";
import utils from "@/utils/util";
export default {
  data() {
    const validatePass = (rule, value, callback) => {
      if (this.edit && !value) return callback();
      if (!this.edit && !value)
        return callback(new Error("请输入新的登陆密码"));
      if (value.length < 6)
        return callback(new Error("请输入不少于6位的登陆密码"));
      callback();
    };
    return {
      logoPc,
      dialogFormVisible: false,
      loading: false,
      form: {
        password: null,
        id:null,
        username:null,
      },
      rules: {
        password: [
          { required: true, message: "请输入登陆密码", trigger: "blur" },
          { validator: validatePass, trigger: "blur" }
        ]
      }
    };
  },
  methods: {
    ...mapMutations(["setUserInfo"]),
    ...mapActions(["clearLoginInfo"]),
    logout() {
      this.setUserInfo();
      this.clearLoginInfo();
      utils.toUrl(this, "/login");
    },
    handleCommand(val) {
      if (val === "a") {
        this.dialogFormVisible = true;
      } else if (val === "b") {
        this.logout();
      }
    },
    editPassword(formName) {
    this.$refs[formName].validate(valid => {
      if(!valid) return;
      this.loading = true;
      this.form.id = this.userInfo.user.id;
      this.form.username = this.userInfo.user.username;
      post(apiUrl.editPasswordUrl, this.form).then(
        res => {
          this.loading = false;
          this.dialogFormVisible = false;
          this.$message.success("密码修改成功");
        },
        () => (this.loading = false)
      );
    })
  }
  },
  computed: {
    ...mapGetters(["userInfo"])
  }
};
</script>

<style lang="less" scoped>
.header {
  box-sizing: border-box;
  height: 80px;
  padding: 24px 0;
  background: #333;
  color: #fff;
  .logo {
    float: left;
    padding: 0 0 0 32px;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    a {
      color: #fff;
    }
  }
  .down-icon {
    color: #fff;
    padding: 10px;
  }
  .userinfo {
    float: right;
    padding: 4px 40px 0 0;
    line-height: 2;
    .username {
      margin: 0 20px 0 0;
    }
    .logout {
      color: #fff;
    }
  }
  .form {
    padding-right: 30px;
  }
}
</style>
