<template>
  <div class="wrapper">
    <el-upload
      :action="apiUrl.fileUploadUrl"
      list-type="picture-card"
      :on-preview="handlePictureCardPreview"
      :on-remove="handleRemove"
      name="fileList"
      :file-list="fileLists"
      :headers="{Authorization: this.token}"
      :on-success="handleAvatarSuccess"
      :on-error="error"
      :before-upload="beforeAvatarUpload"
    >
      <i class="el-icon-plus"></i>
    </el-upload>
    <el-dialog :visible.sync="dialogVisible" :modal="false" style="text-align:center">
      <img width="60%" :src="dialogImageUrl" alt />
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import apiUrl from "@/api";
export default {
  props: {
    value: {
      type: [String, Array]
    },
    maxSize: {
      type: Number,
      default: 2
    },
    view: {
      // 页面关闭时清空数据
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      apiUrl,
      dialogVisible: false,
      dialogImageUrl: "",
      fileLists: [],
      upData: false
    };
  },
  methods: {
    handleRemove(file, fileList) {
      const fileLists = [...fileList];
      this.upData = true;
      let list = fileLists.map(item =>
        item.response ? item.response.data.fileList[0].url : item.url
      );
      list = list.join(",");
      this.$emit("input", list);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    error() {
      this.$message.error("图片上传异常");
    },
    handleAvatarSuccess(res, file, fileList) {
      const fileLists = [...fileList];
      let list = fileLists.map(item =>
        item.response ? item.response.data.fileList[0].url : item.url
      );
      list = list.join(",");
      this.$emit("input", list);
    },
    beforeAvatarUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < this.maxSize;

      if (!isLt2M) {
        this.$message.error(`上传图片大小不能超过${2}MB!`);
        return false;
      }
      this.upData = true;
      return true;
    }
  },
  computed: {
    ...mapGetters(["token"])
  },
  watch: {
    value(value) {
      if (!this.view || !value) {
        this.fileLists = [];
        this.upData = false;
        return;
      } // 窗口关闭
     if (this.upData) return; // 如果编辑图片则不再次渲染图片列表
      const list = value ? value.split(",") : [];
      this.fileLists = list.map((i, index) => ({
        url: i,
        index
      }));
    },
  }
};
</script>
<style>
.el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 98px;
}
.el-upload-list__item {
  width: 100px !important;
  height: 100px !important;
}
</style>

<style lang="less" scoped>
</style>
