<template>
  <div>
    <div class="img-content clearfix">
      <img
        :style="{width:wh,height:wh}"
        :src="item"
        v-for="(item,index) in  setData(data)"
        :key="index"
        @click="handlePictureCardPreview(item)"
      />
    </div>
    <el-dialog :visible.sync="dialogVisible" :modal="false">
       <div style="text-align:center">
           <img width="60%" :src="dialogImageUrl" />
        </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: [String]
    },
    wh: {
      type: String,
      default: "100px"
    }
  },
  data() {
    return {
      dialogVisible: false,
      dialogImageUrl: null,
    };
  },
  methods: {
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file;
      this.dialogVisible = true;
    },
    setData(val){
       const list = val? val.split(","):[]
       return list
    }
  },
};
</script>

<style scoped lang="less">
.img-content {
  img {
    float:left;
    margin: 5px;
  }
}
</style>
