<template>
  <div id="aside">
    <el-aside width="180px" class="sidebar">
      <el-menu
        :default-active="$route.path"
        :router="true"
        unique-opened
        style="background-color: #000"
        text-color="#fff"
        class="sidebar"
      >
        <el-submenu index="1" v-if="role==1">
          <template slot="title">
            <img :src="user" class="muen-icon" />
            <span>用户管理</span>
          </template>
          <el-menu-item index="/admin/index">用户列表</el-menu-item>
        </el-submenu>
        <!-- <el-submenu index="2" v-if="role===1">
          <template slot="title">
            <img :src="roles" class="muen-icon" />
            <span>角色管理</span>
          </template>
          <el-menu-item index="/role/index">角色列表</el-menu-item>
        </el-submenu> -->
        <el-submenu index="3">
          <template slot="title">
            <img :src="product" class="muen-icon"/>
            <span>产品管理</span>
          </template>
          <el-menu-item index="/product/index">产品列表</el-menu-item>
        </el-submenu>
        <el-submenu index="4">
          <template slot="title">
            <img :src="order" class="muen-icon"/>
            <span>销售日志</span>
          </template>
          <el-menu-item index="/sales/index">销售列表</el-menu-item>
        </el-submenu>
        <el-submenu index="5">
          <template slot="title">
            <img :src="customer" class="muen-icon"/>
            <span>客户管理</span>
          </template>
          <el-menu-item index="/customer/index">客户列表</el-menu-item>
        </el-submenu>
      </el-menu>
    </el-aside>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { menuList } from "./menuList";
import user from "@/assets/image/user.png";
import product from "@/assets/image/product.png";
import roles from "@/assets/image/role.png";
import order from "@/assets/image/order.png";
import customer from "@/assets/image/cusmoter.png";
export default {
  data() {
    return {
      user,
      product,
      roles,
      order,
      customer,
      menuList,
      muen: []
    };
  },
  mounted() {
  },
  methods: {
  },
  computed: {
    ...mapGetters(["userInfo","role"])
  }
};
</script>
<style>
.el-submenu .el-menu-item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 180px;
}
.el-menu{
    background: #000;
}
.el-menu-item.is-active {
  background: #409EFF;
  color: #fff;
}
.el-submenu__title:hover{
    background: #000;
}
.el-submenu :hover{
 background: #409EFF;
}
</style>

<style lang="less" scoped>
#aside{
    background: #000;
}
.el-menu-item-group__title {
  padding: 0 !important;
}
.el-submenu__title {
    color:#fff;
  .muen-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}
.el-submenu .el-menu-item {
  padding-left: 55px !important;
}
.sidebar {
   background-color:#000;
  width:180px !important;
  box-sizing: border-box;

  > .el-menu {
    border-right: none !important;
    min-height: calc(100vh - 80px);
    height: 100%;
  }
}
</style>
