html, body, ul, ol, li, dl, dt, dd, p, span, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul, ol, li{
	list-style-type: none;
}

body{
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	font-family: "Microsoft Yahei";
}

a,
a:link{
	text-decoration: none;
}