.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.pull-left{
	float: left;
}
.pull-right{
	float: right;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}
.jt-fr {
	float: right;
}
.no-wrap{
	white-space: nowrap;
}
.item-color-red
{
    color: red !important;
}
.item-color-success
{
    color: #67C23A !important;
}
.item-color-warning
{
    color: #E6A23C !important;
}
