.page-container{

}
.page-header{
	margin: 0 0 32px;
	padding: 12px 0;
	border-bottom: 1px solid #E4E7ED;
	.nav{
		padding: 0 12px;
		font-size: 18px;
		line-height: 1.5;
		.nav-curr{

		}
		.nav-split{
			margin: 0 8px;
		}
		.nav-link{
			color: #409EFF;
		}
	}
}

.page-search-bar{
	border-bottom: 1px solid #F2F6FC;
}
.dialog-search-bar{
	border-bottom: 1px solid #E4E7ED;
}
.data-table{
	margin: 12px 0 32px;
	thead{
		th{
			text-align: center;
		}
	}
}

.el-pagination{
	margin-top: 20px;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	// color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f1f1f1;
	// border: 1px solid #ccc;
	// border-radius: 4px;
	overflow: auto;
	code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
	}
}
.pre-dialog {
  .pre-title {
    color: #333;
    font-size: 28px;
    line-height: 32px;
    text-align: left;;
    margin: auto;
  }
}

.detail-info{
	dl{
		margin: 0 0 16px;
		padding: 0 0 16px;
		&:nth-last-child(1){
			margin: 0;
			padding: 0;
		}
	}
	dt{
		position: relative;
		border-bottom: 1px solid #f2f2f2;
		line-height: 2;
		font-size: 16px;
		margin: 0 0 24px;
		padding: 0 0 0 12px;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 8px;
			height: 16px;
			width: 4px;
			background: rgb(55, 152, 232);
		}
	}
	dd{
		padding: 0 0 0 2em;
		.el-col{
			margin: 0 0 12px;
			line-height: 1.8;
			.label{
				display: inline-block;
				width: 132px;
				color: #808080;
				margin: 0 5px 0 0;
				text-align: right;
				white-space: nowrap;
			}
			.value{
				max-width: calc(100% - 137px);
				display: inline-block;
				color: #333;
				vertical-align: top;
			}
			.photo{
				width: 120px;
				height: 120px;
				display: inline-block;
				vertical-align: top;
				border-radius: 3px;
				border: 1px solid #e9e9e9;
				padding: 2px;
				overflow: hidden;
				cursor: pointer;
				img{
					border-radius: 2px;
					display: block;
					max-width: 100%;
				}
			}
			.photo-items{
				display: inline-block;
				vertical-align: top;
				.photo{
					margin: 0 12px 12px 0;
				}
			}
		}
	}
}


.audit-timeline{
	li{
		line-height: 1.5;
		margin: 18px 0;
		.time{
			position: relative;
			margin: 0 10px 0 0;
			display: inline-block;
			padding: 0 0 0 24px;
			vertical-align: middle;
			color: #999;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background: #409EFF;
				transform: translate(0, 4px);
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: 40px;
				border-radius: 50%;
				background: #409EFF;
				transform: translate(6px, 4px);
			}
		}
		.event{
			display: inline-block;
			vertical-align: middle;
		}
		&:nth-last-child(1){
			.time{
				&:before{
					display: none;
				}
			}
		}
	}
}
.el-table td, .el-table th{
    text-align: center !important;
}
