<template>
	<div id="app">
		<transition name="main-router" mode="out-in">
			<router-view />
		</transition>
	</div>
</template>

<script>
	export default {
	}
</script>

<style scoped lang="less">
	.main-router-enter-active,
	.main-router-leave-active{
		transition: all ease-in 0.2s;
	}

	.main-router-enter-to,
	.main-router-leave{
		opacity: 1;
		transform: scale(1);
	}
	.main-router-enter,
	.main-router-leave-to{
		opacity: 0;
		transform: scale(0.98);
	}
</style>
